USE [FINANCEIRO]
GO
/****** Object:  Trigger [dbo].[TGR_ATT_TRANSACOES]    Script Date: 03/10/2024 14:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_ATT_TRANSACOES]
ON [dbo].[TB_REG_FINANC]
AFTER INSERT
AS

BEGIN

	DECLARE
		@CATEGORIA INT,
		@DATA_REG DATE,
		@DATA_VENCIMENTO_PARCELA DATE
		

		SELECT @CATEGORIA = IDCATEGORIA FROM INSERTED
		SELECT @DATA_REG = DATA_REGISTRO FROM INSERTED
		
		SELECT TOP 1 
			@DATA_VENCIMENTO_PARCELA = DATA_VENCIMENTO_PARCELA
		FROM 
			TB_TRANSAC_FINANC

		IF @CATEGORIA = 900 AND @DATA_REG >= @DATA_VENCIMENTO_PARCELA
		
		BEGIN
			DELETE FROM 
				TB_TRANSAC_FINANC
			WHERE 
				N_PARCELA  = QTD_PARCELAS
				

		
			UPDATE
				TB_TRANSAC_FINANC
			SET 
				N_PARCELA = N_PARCELA + 1,
				DATA_VENCIMENTO_PARCELA = DATEFROMPARTS(
				YEAR(DATEADD(MONTH, 1, DATA_VENCIMENTO_PARCELA)),
				MONTH(DATEADD(MONTH, 1, DATA_VENCIMENTO_PARCELA)),
				1
			)

			WHERE
				N_PARCELA < QTD_PARCELAS
				
		END

END